* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #8cefae;
}
/* ----- menu start ----- */
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #333;
  padding: 15px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.logo {
  margin-right: 50px;
}

.list {
  font-size: 15px;
  list-style: none;
  display: flex;
  gap: 25px;
}

#toggler,
.navbar label {
  display: NONE;
}
.list-bot {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list-icon {
    font-size: 30px;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
}

/* ----- menu end ----- */
/* ----- pesquisa start ----- */
.search-box {
  background-color: white;
  height: 50%;
  padding: 5px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-text-pesq {
  transition: 0.4s;
  background: none;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 15px;
  width: 0;
}
.search-btn {
  width: 50px;
  cursor: pointer;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loup-verd {
  margin-top: 5px;
  width: 35px;
  height: 35px;
}
.loup-branco {
  display: none;
  margin-top: 5px;
  width: 35px;
  height: 35px;
}
.search-box:hover > .search-text-pesq {
  width: 250px;
padding-left: 20px;
}
.search-box:hover > .search-btn{
  background: #8cefae;
}
.search-box:hover > .search-btn .loup-verd{
  display: none ;
}
.search-box:hover > .search-btn .loup-branco{
  display: block ;
}
@media screen and (max-width: 600px) {
  .search-box{
    background-color: white;
    height: 50%;
    padding: 6px;
    border-radius: 40px;
    display: none;
    justify-content: space-between;
    align-items: center;

  }
/* ----- pesquisa end ----- */
